.b_Delete {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .exclamation{
    padding-top: 20px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .textCenter{
    text-align: center;
  }
  .redT{
    color: rgb(250, 142, 1)
  }