<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Tracking System</h1>
            <form role="form">
                <div class="form-content">
                    <!-- <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'Full Name' | translate }}" [(ngModel)] = "name" name="fullName" required>
                    </div> -->

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}" [(ngModel)] = "email" name="email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}" [(ngModel)] = "password" name="pasword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }}" [(ngModel)] = "confirmPassword" name="confirmPassword" required>
                    </div>
                    
                </div>
                <a class="btn rounded-btn" (click)="signUp()">{{ 'Register' | translate }}</a>&nbsp;&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
                
            </form>
        </div>
    </div>
</div>
